@media (max-width: 734px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    .title {
      font-size: 32px;
      line-height: 39px;
      width: 343px;
      padding-top: 0;
      text-align: center;
    }
    .top {
      height: 735px;
      padding-left: 16px;
      padding-right: 16px;
      align-items: center;
      justify-content: center;
      &__text {
        font-size: 14px;
        line-height: 22px;
        width: 343px;
        text-align: center;
      }
      &__span {
        font-size: 14px;
        line-height: 22px;
      }
    }
    .games {
      height: 1221px;
    }
  }