@media (max-width: 734px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    width: 343px;
    padding-top: 0;
    text-align: center;
  }
  .top {
    display: flex;
    flex-direction: column;
    height: 735px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;
    &__text {
      font-size: 14px;
      line-height: 22px;
      width: 343px;
      text-align: center;
    }
    &__span {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .games {
    height: 1221px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .seasons {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    &__content {
      text-align: center;
      &_title {
        font-size: 32px;
        line-height: 39px;
      }
      &_text {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &__pictures {
      padding-left: 16px;
      padding-right: 16px;
      &_picture {
        width: 344px;
        height: 236px;
      }
    }
  }
  .words {
    flex-wrap: wrap-reverse;
    padding-left: 16px;
    padding-right: 16px;
    &__content {
      text-align: center;
      padding-left: 16px;
      &_title {
        font-size: 32px;
        line-height: 39px;
      }
      &_text {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &__pictures {
      padding-left: 16px;
      padding-right: 16px;
      &_picture {
        width: 344px;
        height: 236px;
      }
    }
  }
  .riddles {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: flex-start;
    &__title {
      font-size: 32px;
      line-height: 39px;
    }
    &__text {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
